@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.vimeo-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 360px; /* Ensure minimum height for video */
}

.vimeo-container iframe {
  width: 100%;
  height: 100%;
}

.vimeo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 2;
}